---
import Logo from "../components/images/logo.astro";
---

  <nav class="bg-white shadow fixed z-50 w-full">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 justify-between">
        <div
          class="flex flex-1 items-center justify-center md:items-stretch md:justify-start"
        >
          <div class="inset-y-0 left-0 flex items-center md:hidden">
            <!-- Mobile menu button -->
            <button
              type="button"
              class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-700"
              aria-controls="mobile-menu"
              aria-expanded="false"
              id="mobile-menu-button"
            >
              <span class="sr-only">Abrir menu</span>
              <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
              <svg
                class="block h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
              <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
              <svg
                class="hidden h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div
            class="flex flex-shrink-0 items-center justify-center flex-1 md:flex-none"
          >
            <a href=`${import.meta.env.BASE_URL}`>
              <Logo class="block h-32 w-auto" alt="Interagil" />
            </a>
          </div>
          <div class="hidden md:ml-6 md:flex md:justify-around flex-1">
            <!-- Current: "border-primary-700 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a
              href=`${import.meta.env.BASE_URL}#evento`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Evento</a
            >
            <a
              href=`${import.meta.env.BASE_URL}#palestrantes`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Palestrantes</a
            >
            <a
              href=`${import.meta.env.BASE_URL}#programacao`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Programação</a
            >
            <a
              href=`${import.meta.env.BASE_URL}#patrocinadores`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Patrocinadores</a
            >
            <a
              href=`${import.meta.env.BASE_URL}#local`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Local</a
            >
            <a
              href=`${import.meta.env.BASE_URL}#contato`
              class="font-semibold inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm text-gray-500 hover:border-gray-300 hover:text-gray-700"
              >Contato</a
            >
          </div>
          <div class="flex ml-auto">
            <a
              href="https://www.sympla.com.br/evento/interagil-2023/2136272?_gl=1*gpe6jc*_ga*MTc2NDA3NTQxLjE2OTI5OTQxNjc.*_ga_KXH10SQTZF*MTY5Mjk5NDE2Ny4xLjEuMTY5Mjk5NTEwNC4wLjAuMA"
              target="_blank"
              class="self-center rounded-md bg-primary-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
              >Ingressos
              <svg
                class="inline"
                width="1.5em"
                height="1.5em"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22 6.5C22 5.39543 21.1046 4.5 20 4.5H18C17.7391 4.51101 17.5151 4.68921 17.4457 4.941C17.2419 5.78442 16.487 6.37857 15.6194 6.37855C14.7517 6.37854 13.9968 5.78435 13.793 4.94093C13.7237 4.68918 13.4997 4.511 13.2388 4.5H4C2.89543 4.5 2 5.39543 2 6.5V17.5C2 18.6046 2.89543 19.5 4 19.5H13.2388C13.4997 19.489 13.7237 19.3108 13.793 19.0591C13.9968 18.2157 14.7517 17.6215 15.6194 17.6215C16.487 17.6214 17.2419 18.2156 17.4457 19.059C17.5151 19.3108 17.7391 19.489 18 19.5H20C21.1046 19.5 22 18.6046 22 17.5V6.5Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M15.5 15.25V14.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M15.5 12.25V11.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M15.5 9.25V8.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden md:hidden" id="mobile-menu">
      <div class="space-y-1 pt-2 pb-4">
        <!-- Current: "bg-primary-50 border-primary-700 text-primary-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <a
          href=`${import.meta.env.BASE_URL}`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Interagil</a
        >
        <a
          href=`${import.meta.env.BASE_URL}#evento`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Evento</a
        >
        <a
          href=`${import.meta.env.BASE_URL}#palestrantes`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Palestrantes</a
        >
        <a
          href=`${import.meta.env.BASE_URL}#programacao`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Programação</a
        >
        <a
          href="#patrocinadores"
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Patrocinadores</a
        >
        <a
          href=`${import.meta.env.BASE_URL}#local`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Local</a
        >
        <a
          href=`${import.meta.env.BASE_URL}#contato`
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700"
          >Contato</a
        >
      </div>
    </div>
  </nav>
