---
import { Picture } from "astro:assets";

const { patrocinadores, titulo, imageClass } = Astro.props;
---
{
  patrocinadores.length > 0 && (
    <div class="w-full mb-8">
      <h2 class="text-lg tracking-tight text-gray-700 text-center mb-4 font-bold">
        {titulo}
      </h2>
      <ul
        role="list"
        class="flex justify-evenly flex-wrap gap-4"
      >
        {patrocinadores.map((patrocinador) => {
          return (
            <li class="text-center flex items-center">
              <a href={patrocinador.link} target="_blank" class="inline-block">
                <Picture
                  class={`mx-auto object-contain ${imageClass || patrocinador.class || 'h-24'} `}
                  widths={[100, 200, 400, 800]}
                  width={patrocinador.width}
                  height={patrocinador.height}
                  src={patrocinador.image}
                  alt={patrocinador.name}
                />
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
